@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  background-color: `rgba(0, 0, 0, .5)`;
  color: #fff;
  font-size: 4rem;
}

p {
  color: #000;
  background-color: `rgba(0, 0, 0, .5)`;
  font-size: 2rem;
}
.banner {
  position: relative;
}
.banner-content {
  padding: 0 1rem;
  position: absolute;
  bottom: 1rem;
}
